@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: fairlife display;
    src: url(../../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

.fontlife{
    font-family: fairlife display;
}

.bgColor{
        background: linear-gradient(to bottom right, rgb(193, 229, 207), rgb(244, 226, 207));
      
}